// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
 
$light         : #cccccc;
$dark          : #000000;
$mainText      : #ceaf70;
$lightText      : #ffffff;
$bgColor        : #1c1c26;
$bgHeader       : #ffffff;
$navBg : linear-gradient(180deg,rgba(0,0,0,.7),rgba(0,0,0,.7) 1%,rgba(0,0,0,.5) 61%,transparent);


$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;
 
$headFont : Helvetica-Neue,Helvetica,Arial,sans-serif;
$bodyFont : Helvetica-Neue;